@tailwind base;
@tailwind components;
@tailwind utilities;

.corinthia {
    font-family: "Corinthia", cursive;
    font-weight: 400;
    font-style: normal;
}

.radial-bg {
    background: radial-gradient(black, rgb(47, 47, 48));
}

.linear-bg {
    background: linear-gradient(black, rgb(23, 23, 23));
}